# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\架构设计\训练营\Toy-Ioc-Aop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
/target